body{
  background-color: #3a3e46;

}

h1{
  font-family: 'Arvo', cursive;
  font-size: 5rem;
  text-align: center;
  color: #deedf3;
  text-shadow: 2px 2px #ce3f86
}

button{
  width: 100px;
  height: 100px;
  font-size: 3rem;
  color: #ce3f86;
  text-shadow: 1px 1px grey;
  margin-left: 25px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 5px;
  border-color: #434b6a;
  background-size: cover;
}
.buttons {
  width: 900px;
  margin: 0 auto 100px auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

footer{
  text-align: center;
}
p {
  color: #deedf3;
}

.w{
  background-image: url("images/crash.png");
}

.a{
  background-image: url("images/kick.png");
}

.s{
  background-image: url("images/snare.png");
}

.d{
  background-image: url("images/tom1.png");
}

.j{
  background-image: url("images/tom2.png");
}

.k{
  background-image: url("images/tom3.png");
}

.l{
  background-image: url("images/tom4.png");
}
